{% extends 'ProductBundle::layout.html.twig' %}

{% block content_header %}
    {{ 'product.list'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('host_order_summary', { 'id': order.id }) }}">{{ order.title }}</a>
    </li>
    <li>{{ 'product.list'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% include 'ProductBundle::Product/items.html.twig' %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <strong>{{ order.supplierId.name }}</strong>
                </div>
            </div>
            {% block sidebar_right %}
                {{ render(controller(
                'CartBundle:Cart:sidebarWidget',
                { 'orderId': order.id }
                )) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
