{% extends 'ProductBundle::layout.html.twig' %}

{% block content_header %}
    {{ 'product.list'|trans }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('host_order_summary', { 'id': order.id }) }}">{{ order.title }}</a>
    </li>
    <li>{{ 'product.list'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% include 'ProductBundle::Product/items.html.twig' %}
        </div>
        <div class="col-md-3">
            {% include 'ProductBundle:Product:cart.sidebar.html.twig' with { 'redirectUrl': '' } %}
        </div>
    </div>
{% endblock %}
