<div class="products">
    {% for entity in ProductEntities %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('product_show', { 'id': entity.id, 'orderId': order.id }) }}" class="thumbnail" title="{{ entity.title }}">
                    <img src="{{ entity.image }}" alt="{{ entity.title }}">
                </a>
            </div>
            <div class="col-md-8">
                <h3 class="product-title">
                    <a href="{{ path('product_show', { 'id': entity.id, 'orderId': order.id }) }}" title="{{ entity.title }}">
                        {{ entity.title }}
                    </a>
                    <span class="price pull-right">{{ entity.price }} {{ entity.currency }}</span>
                </h3>
                <p>
                    {{ entity.description | raw }}
                </p>
                {{ form_start(addToCartForms[entity.id]) }}
                    {{ form_widget(addToCartForms[entity.id].orderId) }}
                    {{ form_widget(addToCartForms[entity.id].productId) }}
                    <button type="submit" class="pull-right btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        {{ 'product.add_to_cart'|trans }}
                    </button>
                {{ form_end(addToCartForms[entity.id]) }}
            </div>
        </div>
    {% endfor %}
</div>