{% extends 'ProductBundle::layout.html.twig' %}

{% block content_header %}
    {{ entity.title }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('supplier_show', {id:entity.supplier.id}) }}">{{ entity.supplier.name }}</a></li>
    <li>{{ entity.title }}</li>
{% endblock %}

{% block content %}
<div class="products">
    <a href="{{ path('product_show', { 'id': entity.id }) }}" class="thumbnail" title="{{ entity.title }}">
        <img src="{{ entity.image }}" title="{{ entity.title }}" alt="{{ entity.title }}" />
    </a>
    <p class="price"><strong>Price:</strong> {{ entity.price }} {{ entity.currency }}</p>
    {{ entity.description }}
</div>
{% endblock %}
