{% extends 'ProductBundle::layout.html.twig' %}

{% block content_header %}
    {{ entity.title }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('host_order_summary', { 'id': order.id }) }}">{{ order.title }}</a>
    </li>
    <li>
        <a href="{{ path('product', { 'orderId': order.id }) }}">{{ 'product.list'|trans }}</a>
    </li>
    <li>{{ entity.title }}</li>
{% endblock %}

{% block content %}
<div class="products show">
    <div class="row">
        <div class="col-md-5">
            <a href="{{ entity.image }}" target="_blank" class="thumbnail" title="{{ entity.title }}">
                <img src="{{ entity.image }}" title="{{ entity.title }}" alt="{{ entity.title }}" />
            </a>
        </div>
        <div class="col-md-4">
            <h2 class="product-title">
                <a href="{{ path('product_show', { 'id': entity.id, 'orderId': order.id }) }}" title="{{ entity.title }}">
                    {{ entity.title }}
                </a>
            </h2>
            <p class="price"><strong>Price:</strong> {{ entity.price }} {{ entity.currency }}</p>
            <p>{{ entity.description | raw }}</p>
            <p>
                {{ form_start(addToCartForm) }}
                {{ form_widget(addToCartForm.orderId) }}
                {{ form_widget(addToCartForm.productId) }}
                <button type="submit" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    {{ 'product.add_to_cart'|trans }}
                </button>
                {{ form_end(addToCartForm) }}
            </p>
        </div>
        <div class="col-md-3">
            {% include 'ProductBundle:Product:cart.sidebar.html.twig' with { 'redirectUrl' : path('product_show', { 'id': entity.id, 'orderId': order.id }) } %}
        </div>
    </div>
</div>
{% endblock %}
