{% extends ":default:index.html.twig" %}

{% block body %}
    <div class="container">
        <h1>{{ "order.summary.confirmation.title"|trans }}</h1>
        <a href="{{ path('host_order_summary',{'id':orderId}) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>{{ "order.summary.confirmation.returnToSummary"|trans }}</a>
        <hr>



        {% if products %}
            {% set vars = {'products':products, 'orderId':orderId} %}
           {% include 'IlluminatiOrderBundle:Default/OrderConfirmation:productsTable.html.twig' with vars %}

            <hr>

            <div class="btn-group pull-right" role="group">
                <a href="{{ path('host_order_generate_pdf', {'id': orderId}) }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-save-file"></span>  {{ "order.summary.confirmation.genPDF"|trans }}</a>
                <a href="{{ path('host_order_confirmed', {'id': orderId}) }}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {{ "order.summary.confirmation.confirm"|trans }}</a>
            </div>
        {% else %}
            <div class="text-center">
                <h2 class="text-center">{{ "order.summary.confirmation.noOrders"|trans }}</h2>
                <h1><span class="glyphicon glyphicon-thumbs-down"></span></h1>
            </div>
        {% endif %}
    </div>
{% endblock %}