{% extends ":default:index.html.twig" %}

{% block body %}
    <div class="container">
        <a href="{{ path('host_order_summary',{'id':orderId}) }}" ><span class="glyphicon glyphicon-chevron-left"></span>{{ "order.summary.confirmation.returnToSummary"|trans }}</a>
        <h1 class="page-header">{{ "order.summary.confirmation.title"|trans }}</h1>

        {% if products %}
            {% set vars = {'products':products, 'orderId':orderId} %}
           {% include 'IlluminatiOrderBundle:Default/OrderConfirmation:productsTable.html.twig' with vars %}

            <hr>

            <a href="{{ path('host_order_generate_pdf', {'id': orderId}) }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-save-file"></span>  {{ "order.summary.confirmation.genPDF"|trans }}</a>
            <div class="pull-right">
                {{ form_start(form) }}
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {{ "order.summary.confirmation.confirm"|trans }}</button>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="text-center">
                <h2 class="text-center">{{ "order.summary.confirmation.noOrders"|trans }}</h2>
                <h1><span class="glyphicon glyphicon-thumbs-down"></span></h1>
            </div>
        {% endif %}
    </div>
{% endblock %}