<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-xs-9">{{ "order.summary.confirmation.product"|trans }}</th>
        <th>{{ "order.summary.confirmation.qty"|trans }}</th>
        <th>{{ "order.summary.confirmation.price"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        {% set sum = sum+product.sum %}
        <tr>
            <td><a href="{{ path('product_show',{'id':product.id}) }}">{{ product.title }}</a></td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.sum ~ " " ~ product.currency}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th>{{ "order.summary.confirmation.sum"|trans }}</th>
        <th>{{ sum ~ " " ~ products[0].currency }}</th>
    </tr>
    </tfoot>
</table>

