{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/master.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/all.js') }}"></script>
{% endblock %}

{% block top_nav %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">Illuminati</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('IlluminatiMainBundle:Builder:mainMenu', {'currentClass':'active', 'compressed': true}) }}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block notifications %}
    <div class="container">
        {% for errorMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger fade in col-sm-6 col-sm-offset-6">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{% trans %}notify.error{% endtrans %}</strong>  {{ errorMessage }}
            </div>
        {% endfor %}

        {% for successMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success fade in col-sm-6 col-sm-offset-6">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{% trans %}notify.success{% endtrans %}</strong>  {{ successMessage }}
            </div>
        {% endfor %}

        {% for infoMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info fade in col-sm-6 col-sm-offset-6">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{% trans %}notify.info{% endtrans %}</strong>  {{ infoMessage }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p>
                <a target="_blank" href="https://github.com/nfqakademija/illuminati">
                    © 2015 #Illuminati
                </a>
            </p>
        </div>
    </footer>
{% endblock %}
