{% extends ":default:index.html.twig" %}
{% block body %}
<div class="container">
    <h1>New order creation</h1>
    <hr>
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.title.vars.id }}">{{ form.title.vars.label|trans({},'messages') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
            {% if form_errors(form.title) is not empty %}
                <div class="has-error">
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans({},'messages') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
            {% if form_errors(form.description) is not empty %}
                <div class="has-error">
                    <span class="help-block">{{ form_errors(form.description) }}</span>
                </div>
            {% endif %}
        </div>
    </div>

     <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.supplier_id.vars.id }}">{{ form.supplier_id.vars.label|trans({},'messages') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.supplier_id,{'attr':{'class':'form-control'}}) }}
            {% if form_errors(form.supplier_id) is not empty %}
                <div class="has-error">
                    <span class="help-block">{{ form_errors(form.supplier_id) }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.closeDate.vars.id }}">{{ form.closeDate.vars.label|trans({},'messages') }}</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-2 col-xs-4">
                    {{ form_widget(form.closeDate.date.year,{"attr":{"class":"form-control"}})}}
                </div>
                <div class="col-sm-2 col-xs-4">
                    {{ form_widget(form.closeDate.date.month,{"attr":{"class":"form-control"}})}}
                </div>
                <div class="col-sm-2 col-xs-4">
                    {{ form_widget(form.closeDate.date.day,{"attr":{"class":"form-control"}})}}
                </div>
                <div class="col-sm-offset-2 col-sm-2 col-xs-6">
                    {{ form_widget(form.closeDate.time.hour,{"attr":{"class":"form-control"}})}}
                </div>
                <div class="col-sm-2 col-xs-6">
                    {{ form_widget(form.closeDate.time.minute,{"attr":{"class":"form-control"}})}}
                </div>
            </div>
            {% if form_errors(form.closeDate) is not empty %}
                <div class="has-error">
                    <span class="help-block">{{ form_errors(form.closeDate) }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.orderPatricipants.vars.id }}">{{ form.orderPatricipants.vars.label|trans({},'messages') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.orderPatricipants,{'attr':{'class':'form-control','placeholder':'email1@example.com, email2@example.com, ...'}}) }}
            {% if form_errors(form.orderPatricipants) is not empty %}
                <div class="has-error">
                    <span class="help-block">{{ form_errors(form.orderPatricipants) }}</span>
                </div>
            {% endif %}
            <span class="help-block">{{ "order.helpBlock.participants"|trans({},"messages") }}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.submit,{'attr':{'class':'btn btn-primary'}}) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
