{% trans_default_domain 'FOSUserBundle' %}
<h1 class="page-header">{{ "resseting.pageheader"|trans({},"messages") }}</h1>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
    <div>
        {% if invalid_username is defined %}
            <p class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <div class="form-group">
            <label class="control-label col-sm-2"for="username">{{ 'form.email'|trans }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" required="required" />
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>
