{% extends 'ProductBundle::layout.html.twig' %}

{% block body %}
<div class="container">

    <h2 class="page-header">
        {% block content_header %}
            Checkout
        {% endblock %}
    </h2>

    <ol class="breadcrumb">
        {% block breadcrumbs %}
            {{ parent() }}
            <li><a href="{{ path('product', {'orderId':orderId}) }}">Products</a></li>
            <li>Checkout</li>
        {% endblock %}
    </ol>

    <div class="row">
        <div class="col-md-12" id="checkout">
            {% block content %}
                <div class="panel panel-default checkout">
                    <div class="panel-body">
                        {{ form_start(checkoutForm) }}
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th class="photo">&nbsp;</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price for item</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in checkoutForm.items %}
                                {% set product = products[item.vars.value.product_id] %}
                                <tr>
                                    <td>
                                        <a href="{{ path('product_show', {id:product.id}) }}" class="thumbnail">
                                            <img src="{{ product.image }}" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">{{ product.title }}</a>
                                    </td>
                                    <td>
                                        {{ form_widget(item.quantity, { 'attr': {'class': 'form-control quantity'} }) }}
                                        {{ form_errors(item.quantity) }}
                                        {{ form_widget(item.product_id) }}
                                    </td>
                                    <td>{{ product.price }} {{ cart.getProviderCurrency }}</td>
                                    <td>{{ cart.geItemTotalAmount(product.id, product.price) }} {{ cart.getProviderCurrency }}</td>
                                    <td>
                                        <a class="pull-right" href="{{ path('cart_remove', {productId:product.id, orderId : orderId}) }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        Total: <strong>{{ cart.getAmount }}</strong> {{ cart.getProviderCurrency }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        {{ form_end(checkoutForm) }}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
