<div class="panel panel-default checkout">
    <div class="panel-body">

        <table class="table table-responsive" data-order-id="{{ orderId }}">
            <thead>
            <tr>
                <th class="photo">&nbsp;</th>
                <th>{{ 'cart.product'|trans }}</th>
                <th>{{ 'cart.quantity'|trans }}</th>
                <th>{{ 'cart.price_for_item'|trans }}</th>
                <th>{{ 'cart.total'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr data-row="{{ product.id }}">
                    <td>
                        <a href="{{ path('product_show', { id:product.id, 'orderId': orderId }) }}" class="thumbnail">
                            <img src="{{ product.image }}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('product_show', {id:product.id, 'orderId': orderId}) }}">
                            {{ product.title }}
                        </a>
                    </td>
                    <td>
                        {{ form_start(cartItemUpdateForms[product.id]) }}
                            {{ form_widget(cartItemUpdateForms[product.id].orderId) }}
                            {{ form_widget(cartItemUpdateForms[product.id].productId) }}
                        {{ form_end(cartItemUpdateForms[product.id]) }}
                    </td>
                    <td>{{ product.price }} {{ cart.getProviderCurrency }}</td>
                    <td>{{ cart.geItemTotalAmount(product.id, product.price) }} {{ cart.getProviderCurrency }}</td>
                    <td>
                        {{ form_start(cartItemDeleteForms[product.id]) }}
                            {{ form_widget(cartItemDeleteForms[product.id].orderId) }}
                            {{ form_widget(cartItemDeleteForms[product.id].productId) }}
                            <button type="submit" class="pull-right btn btn-link">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {{ form_end(cartItemDeleteForms[product.id]) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        {{ 'cart.total_amount'|trans }}: <strong>{{ cart.getAmount }}</strong> {{ cart.getProviderCurrency }}
                    </td>
                </tr>
            </tfoot>
        </table>
        {{ form(checkoutConfirmForm) }}
    </div>
</div>