<div class="panel panel-default">
    <div class="panel-heading">
        Cart
    </div>
    <div class="panel-body">
        {% if cart %}
            {% for product in cart.getItems %}
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ path('product_show', { 'id': product.id }) }}" class="thumbnail">
                            <img src="{{ product.image }}" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a class="pull-right" href="{{ path('cart_remove', { 'product_id': product.id, 'order_id': order_id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a href="{{ path('product_show', { 'id': product.id }) }}">
                            {{ product.title }}
                        </a>
                        <br />
                        {{ product.price }} EUR
                        <span class="pull-right">{{ cart.getQuantity(product.id) }} Qty.</span>
                    </div>
                </div>
                <hr />
            {% endfor %}

            <p class="text-center">
                Your order amount is {{ cart.getAmount }} EUR
            </p>

            <div class="text-center">
                <a class="btn btn-success" href="{{ path('cart_checkout', {'order_id': order_id}) }}">
                    Checkout
                </a>
            </div>
        {% else %}
            Your cart is empty
        {% endif %}
    </div>
</div>