<div class="panel panel-default panel-cart-widget">
    <div class="panel-heading">
        {{ 'cart.title'|trans }}
    </div>
    <div class="panel-body">
        {% if cart.storage|length > 0 %}
            {% for product in cart.getItems %}
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ path('product_show', { 'id': product.id, 'orderId': orderId }) }}" class="thumbnail">
                            <img src="{{ product.image }}" />
                        </a>
                    </div>
                    <div class="col-md-8">

                        {{ form_start(deleteForms[product.id]) }}
                            {{ form_widget(deleteForms[product.id].productId) }}
                            {{ form_widget(deleteForms[product.id].orderId) }}
                            {{ form_widget(deleteForms[product.id].redirectUrl) }}
                            <button type="submit" class="pull-right btn btn-link">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {{ form_end(deleteForms[product.id]) }}

                        <a href="{{ path('product_show', { 'id': product.id, 'orderId': orderId }) }}">
                            {{ product.title }}
                        </a>
                        <br />
                        {{ product.price }} {{ cart.providerCurrency }}
                        <span class="pull-right">{{ cart.getQuantity(product.id) }} {{ 'cart.qty'|trans }}</span>
                    </div>
                </div>
                <hr />
            {% endfor %}

            <p class="text-center">
                Your order amount is {{ cart.getAmount }} {{ cart.providerCurrency }}
            </p>

            <div class="text-center">
                <a class="btn btn-success" href="{{ path('cart_checkout', {'orderId': orderId}) }}">
                    {{ 'cart.checkout'|trans }}
                </a>
            </div>
        {% else %}
            <div class="text-center">
                {{ 'cart.empty'|trans }}
            </div>
        {% endif %}
    </div>
</div>