{% extends ":default:index.html.twig" %}

{% block body %}
    <div class="container">
        {% if orders %}
            {% if type == 'hosted' %}
                <h1 class="history">{% trans %}order.history.hosted{% endtrans %}</h1>
            {% elseif type == 'joined' %}
                <h1 class="history">{% trans %}order.history.joined{% endtrans %}</h1>
            {% endif %}
            {% for i in 0..orders|length-1 %}
                <hr>
                <div class="orders">
                {% if orders[i]['state'] == 1 %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ orders[i]['title'] }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="pull-left">
                                <h3>{% trans %}order.history.closes{% endtrans %}: {{ orders[i]['closeDate'] }}</h3>
                                <h3>{% trans %}order.history.participants{% endtrans %}: {{ orders[i]['pCnt'] }}</h3>
                            </div>
                            <div class="pull-right">
                                    <h3>{% trans %}order.history.state{% endtrans %}: {% trans %}order.history.stateOpen{% endtrans %}</h3>
                                <a href="/order/summary/{{ orders[i]['id'] }}"><button class="btn btn-default">{% trans %}order.history.view{% endtrans %}</button></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ orders[i]['title'] }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="pull-left">
                                    <h3>{% trans %}order.history.closes{% endtrans %}: {{ orders[i]['closeDate'] }}</h3>
                                    <h3>{% trans %}order.history.participants{% endtrans %}: {{ orders[i]['pCnt'] }}</h3>
                                </div>
                                <div class="pull-right">
                                    <h3>{% trans %}order.history.state{% endtrans %}: {% trans %}order.history.stateClosed{% endtrans %}</h3>
                                    <a href="/order/summary/{{ orders[i]['id'] }}"><button class="btn btn-default">{% trans %}order.history.view{% endtrans %}</button></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% elseif type == 'hosted' %}
            <h1 class="history">{% trans %}order.history.noHosted{% endtrans %}, <a href="/order/">{% trans %}order.history.create{% endtrans %}.</a></h1>
        {% else %}
            <h1 class="history">{% trans %}order.history.noJoined{% endtrans %}, <a href="/order/">{% trans %}order.history.create{% endtrans %}.</a></h1>
        {% endif %}
    </div>



{% endblock %}