{% extends ":default:index.html.twig" %}

{% block body %}
    <div class="container">
        <h1>{% trans %}order.summary.title{% endtrans %}</h1>

        <div class="jumbotron">
            <h2>{{ hostOrder.title }}</h2>
            <p>{{ hostOrder.description }}</p>
            <p><em><strong>{% trans %}order.summary.dueDate{% endtrans %} : {{ hostOrder.closeDate|date('Y-m-d H:i') }}</strong></em></p>
            <div class="has-success">
                <label for="inv_link">{% trans %}order.summary.inviteLink{% endtrans %} :</label>
                <input class="form-control" id="inv_link" type="text" value="{{ app.request.getSchemeAndHttpHost() ~ path('host_order_join',{'hostOrderToken':hostOrder.orderToken}) }}" readonly>
            </div>
        </div>


        <a href="{{ path('product') }}"><button class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> {% trans %}order.summary.goToShopButton{% endtrans %} </button></a>
        {% if app.user.id == hostOrder.usersId.id %}
            <a href="{{ path('host_order_edit',{'id':hostOrder.id}) }}"><button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans %}order.summary.editOrderButton{% endtrans %} </button></a>
        {% endif %}
        <hr>

        {# summary widget #}
        {% if (participants is defined) and (participants is not empty) %}
            {% set vars = { 'participants': participants , 'participantsOrders' : participantsOrders  } %}
            {% include "IlluminatiOrderBundle:Default/Summary:summaryWidget.html.twig" with vars %}
        {% endif %}


        {# Checking if the logged in user is the host of the main order #}
        {% if hostOrder.usersId.id == app.user.id %}
            <hr>
            <div class="btn-group" role="group">
                <a id="send-reminder-emails" class="btn btn-default" href="{{ path('host_order_email_reminders',{'id':hostOrder.id}) }}"><span class="glyphicon glyphicon-envelope"></span> {% trans %}order.summary.remindAboutPaymentsButton{% endtrans %}</a>
                <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-lock"></span> {% trans %}order.summary.confirmOrderButton{% endtrans %}</a>
            </div>
        {% endif %}
        <a href="#" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-log-out"></span> {% trans %}order.summary.leaveOrder{% endtrans %}</a>
        <br>

    </div>
{% endblock %}