<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for i in 0..participants|length-1 %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ i }}">
                <div class="panel-title">
                    <img class="img img-circle" src="{{ gravatar(participants[i].usersId.email,25) }}" alt="user avatar">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}" aria-expanded="false" aria-controls="collapse{{ i }}">
                        {{ participants[i].usersId.name }}
                        {{ participants[i].usersId.surname }}
                    </a>
                    <div class="pull-right">
                        {# showing payment statuses ONLY for order participants #}
                        {% if participants[i].usersId != hostOrder.usersId %}

                            {% if participants[i].payed == 0 %}
                                {# Only show forms for host of the order #}
                               {% if hostOrder.usersId.id == app.user.id %}
                                   {# Looking for the correct form #}
                                   {% for form in forms %}
                                        {% if form.orderId == participants[i].id %}
                                            {{ form_start(form.form) }}
                                                <button class="btn btn-xs btn-danger submit-mark-as-paid" type="submit" data-toggle="tooltip" data-placement="top" title="{% trans %}order.summary.widget.markAsPaid{% endtrans %}">{% trans %}order.summary.widget.notPaid{% endtrans %}</button>
                                            {{ form_end(form.form) }}
                                            <span class="label label-success marked-as-paid hidden">
                                                {% trans %}order.summary.widget.paid{% endtrans %}
                                            </span>
                                        {% endif %}
                                   {% endfor %}
                               {% else %}
                                   <span class="label label-danger">
                                       {% trans %}order.summary.widget.notPaid{% endtrans %}
                                   </span>
                               {% endif %}

                            {% else %}

                                <span class="label label-success">{% trans %}order.summary.widget.paid{% endtrans %}</span>

                            {% endif %}

                        {% else %}
                            <span class="label label-warning">Host</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="collapse{{ i }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ i }}">
                <div class="panel-body">
                    <table class="table table-responsive">
                        <tr>
                            <th>{% trans %}order.summary.widget.product{% endtrans %}</th>
                            <th class="col-sm-2">{% trans %}order.summary.widget.quantity{% endtrans %}</th>
                            <th class="col-sm-2">{% trans %}order.summary.widget.price{% endtrans %}</th>
                        </tr>
                        {% set sum = 0 %}
                        {% if participantsOrders is not empty %}
                           {% for y in 0..participantsOrders|length-1 %}
                               {% if participantsOrders[y].userId.id == participants[i].usersId.id %}
                                   <tr>
                                       <td>
                                           <img class="img img-thumbnail" src="{{ participantsOrders[y].productId.image }}" width="50px" alt="product image">
                                           <a href="{{ path('product_show',{'id':participantsOrders[y].productId.id, 'orderId': participantsOrders[y].hostOrderId.id}) }}"> {{ participantsOrders[y].productId.title }}</a>
                                       </td>
                                       <td>{{ participantsOrders[y].quantity }}</td>
                                       <td>{{ participantsOrders[y].productId.price ~ " " ~ participantsOrders[y].productId.currency }}</td>
                                   </tr>
                                   {% set sum = sum + participantsOrders[y].productId.price * participantsOrders[y].quantity %}
                               {% endif %}
                           {% endfor %}
                        {% endif %}
                        {% if sum > 0 %}
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Sum</th>
                                <th>{{ sum ~ " " ~ participantsOrders[0].productId.currency}}</th>
                            </tr>
                            </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>